/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navigation styles */
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 430px;
    height: 100vh;
    background-color: #100f5d;
    color: #edfb6c;
    padding: 20px;
    overflow-y: scroll;
    font-size: 25px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

.nav-link:hover {
    text-decoration: underline;
}

header {
  font-size: 35px;
}

p {
  font-size: larger;
  color: #605d5d;
}

code {
  font-size: 18px;
  width: 80%;
  height: 55px;
  background-color: #e3ebef;
}

#navbar ul li {
  font-size: 25px;
  border-bottom: 2px solid #bbcae0;
  height: 55px;
  padding-top: 25px;
  bottom: 0;
}

li {
  font-size: 18px;
}
/* Main section styles */
#main-doc {
    margin-left: 500px; /* Ensure content doesn't overlap with navbar */
    padding: 20px;
}

.main-section {
    margin-bottom: 30px;
}

/* Media query for responsive design */
@media (max-width: 768px) {
    #navbar {
        width: 100%;
        height: auto;
        padding: 10px;
    }

    #main-doc {
        margin-left: 0; /* Reset margin for smaller screens */
        padding: 10px;
    }
}
